---
layout: default
---

<div class="hero">
  <div class="me">
    <div class="icon">Image Here...</div>
    <div class="description">
      <h2>Hi</h2>
      <p>I'm Fernando Hernandez. I am a programmer.</p>
      <p>I have a soft spot in my heart for technology and software development while living in Long Island.</p>
    </div>
  </div>
  <div class="paper">Interaction fun</div>
  <div class="social">socal media links...</div>
</div>
<div class="occupations">
  <div class="occupation">
    <h2>Program</h2>
    <p>I've enjoyed being the computer geek back in highschool. Since then, I take part in developing and debugging new software.</p>
  </div>
  <div class="occupation">
    <h2>Design</h2>
    <p>Digital art had been my passion since childhood, only to be sidelined by tech!</p>
  </div>
  <div class="occupation">
    <h2>Unwind</h2>
    <p>Above all else, a peaceful temperament provides the best working conditions.</p>
  </div>
</div>