//Grid Time
.hero {
    display: grid;
    min-height: 100%;
    padding: 0 15px;
    margin: 0 auto;

    grid-template-columns: unquote("[left-edge] 25% [col-2-start] auto [right-edge]");
    grid-template-rows: unquote("[top-line] 75% [top-row-end bottom-row-start] auto [bottom-line]");

    grid-template-areas: 
        "me paper"
        "me social"
}

.me {
    grid-area: me;
    justify-self: center;
}

.paper {
    grid-area: paper;
}

.social {
    grid-area: social;
}



// Flex Time
.occupations {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.occupation {
    margin: auto;
    flex: 2;
}